/* MovieVerse CSS */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#050816,#0f172a,#111827,#1e293b);
    overflow-x:hidden;
    color:white;
}

.navbar{
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    z-index:100;
    backdrop-filter:blur(20px);
    background:rgba(255,255,255,.08);
    border-bottom:1px solid rgba(255,255,255,.15);
}

.logo{
    font-size:30px;
    font-weight:700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:.3s;
}

nav a:hover{
    color:#00e5ff;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.glass-box{
    width:700px;
    max-width:90%;
    padding:50px;
    text-align:center;
    border-radius:30px;
    backdrop-filter:blur(30px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.2);
    box-shadow:0 20px 60px rgba(0,0,0,.5);
}

.glass-box h1{
    font-size:55px;
    margin-bottom:20px;
}

.glass-box p{
    color:#d1d5db;
    margin-bottom:35px;
}

.search-box{
    display:flex;
    gap:15px;
    justify-content:center;
}

.search-box input{
    width:70%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:50px;
    background:rgba(255,255,255,.12);
    color:white;
}

.search-box button{
    padding:15px 25px;
    border:none;
    border-radius:50px;
    background:#00e5ff;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}

.search-box button:hover{
    transform:scale(1.05);
}
